.header {
    background-color:thistle;
    padding: 10px;
    width:100vh;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.logo-link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
