.home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    
  }

section {
    padding: 30px;
    background-color: #ffffff; 
    color:black;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
  }

form {
    background-color: #ffffff;
    align-self: flex-end;
    
}

h2 {
  font-weight: bold;
}